<div class="products-container">
  <div class="page-header">
    <div class="header-content">
      <h1>Gestion de Productos</h1>
      <p>Administra el catalogo de productos del inventario</p>
    </div>
    <div class="header-actions">
      <button nz-button nzType="default" (click)="exportToExcel()">
        <span nz-icon nzType="download"></span>
        Exportar
      </button>
      <button nz-button nzType="primary" (click)="addProduct()">
        <span nz-icon nzType="plus"></span>
        Nuevo Producto
      </button>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-toolbar">
      <nz-input-group [nzPrefix]="prefixIcon" class="search-input">
        <input
          nz-input
          placeholder="Buscar productos..."
          (input)="onQuickFilterChanged($event)"
        />
      </nz-input-group>
      <ng-template #prefixIcon>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

    <div class="table-layout" [class.with-details]="!!selectedProduct()">
      <div class="table-panel">
   

        <div class="table-scroll">
          <ag-grid-angular
            class="ag-theme-alpine products-grid"
            [rowData]="rowData()"
            [columnDefs]="colDefs"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
          />
        </div>
      </div>

    </div>
  </div>
</div>
