<div class="products-container">
  <div class="page-header">
    <div class="header-content">
      <h1>Gestion de Productos</h1>
      <p>Administra el catalogo de productos del inventario</p>
    </div>
    <div class="header-actions">
      <button
        nz-button
        nzType="default"
        nz-dropdown
        [nzDropdownMenu]="columnsMenu"
        nzPlacement="bottomRight"
      >
        <span nz-icon nzType="setting"></span>
      </button>
      <button nz-button nzType="default" nzTooltipTitle="Exportar a Excel" (click)="exportToExcel()">
        <nz-icon nzType="file-excel" nzTheme="outline" />
      </button>
      <button nz-button nzType="primary" (click)="addProduct()">
        <span nz-icon nzType="plus"></span>
        Nuevo Producto
      </button>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-toolbar">
      <nz-input-group [nzPrefix]="prefixIcon" class="search-input">
        <input
          nz-input
          placeholder="Buscar productos..."
          (input)="onQuickFilterChanged($event)"
        />
      </nz-input-group>
      <ng-template #prefixIcon>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>

    <div class="table-layout" [class.with-details]="!!selectedProduct()">
      <div class="table-panel">
        <ng-container *ngIf="loading(); else productsGrid">
          <div class="table-scroll">
            <div class="table-skeleton">
              <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 10 }"></nz-skeleton>
            </div>
          </div>
        </ng-container>

        <ng-template #productsGrid>
          <div class="table-scroll">
            <ag-grid-angular
              class="ag-theme-alpine products-grid"
              [rowData]="rowData()"
              [columnDefs]="colDefs"
              [gridOptions]="gridOptions"
              (gridReady)="onGridReady($event)"
            />
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</div>

<nz-dropdown-menu #columnsMenu="nzDropdownMenu">
  <div class="columns-menu" (click)="$event.stopPropagation()">
    <div class="columns-menu-header">
      <div class="columns-menu-title">Columnas</div>
      <button nz-button nzType="link" class="reset-columns-btn" (click)="resetColumns()">
        Restablecer
      </button>
    </div>
    @for (option of columnOptions; track option.key) {
      <label nz-checkbox [ngModel]="option.visible" (ngModelChange)="toggleColumnVisibility(option)" class="column-option">
        {{ option.label }}
      </label>
    }
  </div>
</nz-dropdown-menu>




<nz-modal
  [nzVisible]="isCreateModalOpen()"
  [nzTitle]="editingProduct() ? 'Editar Producto' : 'Nuevo Producto'"
  nzOkText="Guardar"
  nzCancelText="Cancelar"
  [nzOkLoading]="saving()"
  (nzOnCancel)="handleCreateCancel()"
  (nzOnOk)="submitProduct()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="productForm">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Nombre</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input formControlName="name" />
            </nz-form-control>
          </nz-form-item>
        </div>
        
        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Codigo</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input formControlName="code" />
            </nz-form-control>
          </nz-form-item>
        </div>


        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Categoria</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-select formControlName="category_id" nzPlaceHolder="Selecciona una categoria">
                <nz-option
                  *ngFor="let category of categories()"
                  [nzValue]="category.id"
                  [nzLabel]="category.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Costo</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-input-number
                formControlName="purchase_price"
                [nzMin]="0"
                [nzStep]="0.01"
                style="width: 100%;"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Precio Venta</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-input-number
                formControlName="sale_price"
                [nzMin]="0"
                [nzStep]="0.01"
                style="width: 100%;"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Stock Actual</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-input-number
                formControlName="current_stock"
                [nzMin]="0"
                style="width: 100%;"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzRequired>Stock Minimo</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-input-number
                formControlName="minimum_stock"
                [nzMin]="0"
                style="width: 100%;"
              ></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzXs]="24" [nzSm]="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="24">&nbsp;</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <label nz-checkbox formControlName="is_active">Activo</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>
